$light-grey: #dee3e6;
$grey: #313f49;
$dark-grey: #9d9c9d;

$yellow: #e7e292;

$blue: #6ab5d4;
$dark-blue: #313f49;
$darkest-blue: #2b3842;
$letter-blue: #425463;

$pink: #9d5463;
$pink-menu: #FF91A8;
$shinny-pink: #e1526b;
$light-pink: #be7086;
$dark-pink: #7f3c49;