@import "colors";
@import "compass/css3/transition";

#home {
	float: left;

	h2 {
		font-size: 1.2em;
		margin: 0 auto;
		margin-bottom: 3%;
	}

	h1 {
		font-weight: 300;
		margin: 0 auto;
		margin-bottom: 3%;
		font-size: 3em;
	}

	#search {
		padding: 5%;
		background: $background-grey;

		h1 {
			color: $orange;
			width: 600px;
		}

		h2 {
			color: $header-grey;
			width: 300px;
		}

		input {
			width: 600px;
			border-radius: 5px;
			margin: 0 auto;
			display: block;
		}
	}

	#tutorial {
		.step {
			width: 30%;
			padding-top: 3%;
			padding-bottom: 3%;
			padding-left: 3.33333333%;
			float: left;
			background: $orange;
			color: white;
		}
	}

	#hot-projects {
		float: left;
		width: 100%;
		padding: 5% 0;

		h1 {
			width: 800px;
			color: $blue;
			display: block;
		}

		h2 {
			width: 300px;
			color: $header-grey;
			display: block;
		}

		#project-thumbnails {
			float: left;
			margin: 0 auto;
			margin-top: 5%;
			background: #ccc;
		}

		.group {
			float: left;
		}

		.column {
			width: 33.333333%;
			float: left;

			.project-thumb {
				width: 100%;
			}
		}

		.project-thumb {
			background: #ccc;
			line-height: 1em;
			float: left;
			overflow: hidden;
			position: relative;
			width: 33.33333333%;

			.description {
				position: absolute;
				float: left;
				top: 110%;
				background: $orange;
				height: 100%;
				width: 100%;
				opacity: 0.7;

				@include transition-property(top);
				@include transition-duration(0.7s);
			}

			img {
				float: left;
				width: 100%;
				height: 100%;
			}

			&:hover {
				.description {
					top: 0%;
				}
			}
		}
	}
}