@import "colors";

#home {
	float: left;

	h2 {
		font-size: 1.2em;
		margin: 0 auto;
		margin-bottom: 3%;
	}

	h1 {
		font-weight: 300;
		margin: 0 auto;
		margin-bottom: 3%;
		font-size: 3em;
	}

	#search {
		padding: 5%;
		background: $background-grey;

		h1 {
			color: $shinny-pink;
			width: 600px;
		}

		h2 {
			color: $header-grey;
			width: 300px;
		}

		input {
			width: 600px;
			border-radius: 5px;
			margin: 0 auto;
			display: block;
		}
	}

	#tutorial {
		.step {
			width: 30%;
			padding-top: 3%;
			padding-bottom: 3%;
			padding-left: 3.33333333%;
			float: left;
			background: $shinny-pink;
			color: white;
		}
	}

	#hot-projects {
		float: left;
		width: 100%;
		padding: 5% 0;

		h1 {
			width: 790px;
			color: $blue;
		}

		h2 {
			width: 300px;
			color: $header-grey;
		}
	}
}