@import "colors";

body {
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	background: transparent url("wrapper-bg-colourstrip.png") repeat-x left top;
	padding-top: 5px;
}

#header {
	float: left;
	width: 100%;
	background: $grey;

	#logo {
		margin-left: 2%;
		color: white;
		float: left;
		width: 40%;
		text-decoration: none;
		margin: 1% 0;
		margin-left: 3%;
	}

	#controls {
		float: right;
		width: 50%;

		a {
			color: $yellow;
			margin: 2% 0;
			margin-right: 5%;
			float: right;
			text-decoration: none;
		}
	}
}