@import "colors";
@import "compass/css3";

#create-project, #edit-project {
	float: left;
	width: 100%;
	background: $light-grey;

	h1, .name {
		margin-top: 10%;
	}

	#menu {
		background: $pink-menu;
		background-image: url('bg-noise.png');
		border-top: 3px solid $shinny-pink;
		width: 100%;
		margin-bottom: 40px;

		#menu-links {
			list-style: none;
			display: table;
			width: 70%;
			margin: 0 auto;
		}

		li:hover, li.active {
			a {
				background: $dark-pink;
				background-image: url("menubg.png");
				background-repeat: no-repeat;
				background-position: 50% 102%;
				border-right: 2px solid $light-pink;
				border-left: 2px solid $light-pink;
			}
		}

		a {
			text-decoration: none;
			font-size: 0.9em;
  			line-height: 40px;
			border-right: 2px solid transparent;
			border-left: 2px solid transparent;
			color: white;
			float: left;
			padding: 0 3%;
			height: 40px;			
		}
	}

	textarea {
		height: 200px;
		padding-top: 15px;; 
	}

	.token-input-list-facebook {
		padding-top: 5px;
	}

	.token-input-token-facebook {
		font-size: 1.3em;
		padding: 15px;

		p {
			color: $pink;
		}
	}

	input[type=text], input[type="url"], textarea, .token-input-list-facebook {
		margin-bottom: 4%;
		width: 100%;
		border-radius: 7px;
		outline: 0;
		border: 1px solid #999;
		font-size: 1.4em;
		padding-left: 15px;
		color: $pink;

		@include box-shadow(inner 0 0 5px #888);
		@include box-shadow(inset 0 1px 3px #888);
	}

	input[type=text], input[type="url"] {
		height: 60px;
	}

	#project_tag_ids {
		width: 20%;
		padding: 2%;
		outline: 0;
		border: 0;
		border-radius: 5px;
		font-size: 1.2em;
		margin-top: 2%;
		border: 1px solid #999;
	}

	input:-moz-placeholder, textarea:-moz-placeholder {
		color: $dark-grey;
	}

	select.date.optional {
		font-size: 1.2em;
		margin-bottom: 5%;
		width: 130px;
		outline: 0;
		background-image: none;
		height: 34px;
		border: 1px solid #999;
		margin-top: 2%;
		color: #777;
		border-radius: 7px;
		line-height: 19px;
		text-align: left;
		padding-left: 5px;

		option {
			background: white;
		} 
	}

	select.dropdown {
		background: white;
	}

	#project-form {
		color: $pink;
		margin: 0 auto;

		.name, h1 {
			float: left;
			font-size: 1.5em;
			color: $blue;
			line-height: 18px;
			margin-right: 5px;
			margin-bottom: 5%;
			font-weight: bold;
		}

		#user-name {
			width: 100%;
			float: left;
		}

		h1 {
			color: $dark-grey;
			font-size: 1.5em;
		}

		label {
			font-size: 1.2em;
			margin-top: 1%;
			margin-bottom: 0.5em;
			display: block;
		}
	}

	#project-information {
		width: 60%;
		margin: 0 auto;
		margin-bottom: 5%;
	}

	#customization {
		width: 100%;
		display: table;
		background: $dark-blue;

		#customization-header {
			display: table;
			margin: 0 auto;
		}

		#image-area {
			width: 60%;
			margin: 0 auto;
			display: table;
		}

		#drop-area {
			background: $darkest-blue;
			text-align: center;
			padding: 15%;
			margin-bottom: 5%;
			border-radius: 5px;
			border: 3px dotted #1E2C37;

			p {
				font-size: 1.1em;
				color: $letter-blue;
			}
		}
	}

	#micro-tasks {
		width: 60%;
		display: table;
		margin: 0 auto;

		#tasks-area {
			margin-bottom: 15%;
		}
	}

	#colaboration {
		width: 100%;
		display: table;
		background: $dark-blue;

		#colaboration-form {
			width: 60%;
			margin: 0 auto;
		}

		.email {
			color: white;
			width: 40%;
			display: block;
			float: left;
			font-size: 1.2em;
			border-radius: 7px;
			padding-left: 5%;
			line-height: 3em;
			background-image: url("email.png");
			background-repeat: no-repeat;
			background-position: 1%;
		}

		.email-note {
			line-height: 3em;
			font-size: 1.2em;
			width: 30%;
			display: block;
			color: $orange;
			float: left;
		}

		#emails-area {
			margin-bottom: 5%;
			display: table;
		}
	}
}

#projects {
	float: left;
}