@import "colors";

body {
  background-color: #fff;
  color: #333;
  font-size: 1em;
  line-height: 1.2em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  color: $error;
}

#error_explanation {
  margin-top: 50px;
  width: 450px;
  color: $error;
  border: 2px solid $error;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $background-error;
  margin: 0 auto;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $error;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.error {
  background: $background-error;
  width: 30em;
  height: 2em;
  display: block;
  border: 2px solid $error;
  border-radius: 3px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-top: 10px;
}